{% extends 'main/base.html' %}


{% block title %}
Создать task
{% endblock %}


{% block classes %}
    <a class="me-3 py-2 link-body-emphasis text-decoration-none"  href="{% url 'home' %}">Главная</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none"  href="{% url 'about' %}">Про нас</a>
{% endblock %}


{% block content %}
    <h1>Cоздать task</h1>
    <form method = "post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.task }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}